
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100&family=Roboto:wght@100&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100&family=Roboto&display=swap%27');


html {
    --color-primary: white;
    --color-secondary :#09203b;
}

body{
    margin:0px;
    font-family: "Roboto", sans-serif;
    color: var(--color-secondary);
}

footer.p {
    font-size: 32px;
}


.grid-footer{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--color-secondary);
    height: 100px;
    color: white;
}

.wrapper{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: var(--color-primary);
}

.font{
    text-decoration: none;
}

.center{
    text-align: center;
}


.container{
    width :80%;
    background-color:white;
    margin-right: 10%;
    margin-left: 10%;
    padding-bottom: 10%;
    text-align: left;

}

.container p {
    padding-left: 10%;
    padding-right: 10%;
}

.button1{
    background-color: var(--color-secondary);
    padding: 2% 2% 2% 2%;
    border-radius: 8px;
    margin:auto;
    margin-left: 15%;
}